@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 900;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    font-family: "Open Sans";
    background-color: #000;
    color: #fff;
    margin: 0;
}

.accent {
    /* color: rgb(216, 0, 115); */ /* MAGENTA */
    color: rgb(27, 161, 226); /* CYAN */
}

.accentBG {
    background-color: rgb(27, 161, 226); /* CYAN */
}

section {
    margin-bottom: 64px;
}

    section > h1 {
        font-weight: 900;
        font-size: 32px;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        max-width: 900px;
        margin: 0 auto;
    }

    section > h2 {
        font-weight: 600;
        text-transform: lowercase;
        max-width: 900px;
        margin: 0 auto;
        padding: 16px 0;
    }

    section.profile {
        position: relative;
        width: 100%;
        height: calc(100% - 74px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

        section.profile div.profileCard {
            display: flex;
            flex-direction: column;
        }

            section.profile div.profileCard img {
                width: 160px;
                height: 160px;
            }

            section.profile div.profileCard div.information h1 {
                color: #fff;
                margin: 0;
                font-weight: 100;
                line-height: 1;
                font-size: 72px;
            }

        section.profile div.navigation {
            display: flex;
            flex-direction: row;
            margin-left: 5px;
        }
        
            section.profile div.navigation a {
                color: #fff;
                font-weight: 100;
                text-transform: lowercase;
                text-decoration: none;
                font-size: 24px;
                opacity: 0.7;
                margin-right: 8px;
            }

    section.me p {
        margin: 0 0 0 16px;
        font-weight: 100;
        font-size: 40px;
        line-height: 1.5;
        margin: 0 auto 16px auto;
        max-width: 900px;
    }

        section.me p a {
            text-decoration: none;
        }

    section.projects div.projects {
        max-width: 900px;
        margin: 16px auto;
        display: flex;
        flex-direction: row;
        padding-left: -8px;
    }

        section.projects div.projects div.project {
            width: 260px;
            height: 260px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin: 8px;
        }

            /* section.projects div.projects div.project div.img {
                width: 100%;
                height: 280px;
            } */

            section.projects div.projects div.project div.name {
                font-weight: 900;
                text-transform: uppercase;
                font-size: 20px;
                background-color: #000;
            }

            section.projects div.projects div.project div.description {
                background-color: #000;
            }

    section.work div.employer {
        max-width: 900px;
        margin: 16px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        section.work div.employer div.company {
            margin-right: 32px;
        }

            section.work div.employer div.company div.logo {
                width: 128px;
                height: 128px;
                background-size: 70%;
                background-repeat: no-repeat;
                background-position: center center;
            }

            section.work div.employer div.company div.name {
                font-weight: 600;
                font-size: 24px;
                text-align: right;
            }

            section.work div.employer div.company div.timeframe {
                text-align: right;
            }

        section.work div.employer div.position {
            margin: 16px;
            min-width: 240px;
        }

            section.work div.employer div.position div.year {
                font-weight: 100;
                font-size: 40px;
            }

            section.work div.employer div.position div.name {
                font-weight: 100;
                font-size: 20px;
            }

            section.work div.employer div.position div.title {
                font-size: 14px
            }